$background-darkmode: #121212;
$text-primary-darkmode: #E5E7EB;
$text-secondary-darkmode: #6B7280;

.darkmode {
    background-color: $background-darkmode;
    color: $text-primary-darkmode;
}

.darkmode-secondary {
    color: $text-secondary-darkmode;
}

.profile-picture {
    width: 250px;
    height: auto;
    border-radius: 50%;

    @media screen and (max-width: 768px) {
        width: calc(250px * 0.8)
    }
}

.socialmedia-icon {
    transition: all 0.2s ease-in !important;
    font-size: 1.25rem !important; 

    @media (max-width: 768px) {
        font-size: 1.125rem !important; 
    }

    i {
        color: $text-secondary-darkmode;
        transition: color 0.2s ease-in !important;
    }

    &:hover {
        transform: translateY(-4px);

        i {
            color: $text-primary-darkmode;
        }
    }
}

.university-logo {
    width: 75px;
    height: auto;
}

.header-underline {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #6B7280, #121212) 1;
    width: 50%;
}

.name {
    font-size: 24px;

    @media screen and (max-width: 768px) {    
        font-size: 20px;
    }
}

.titles {
    font-size: 18px;

    @media screen and (max-width: 768px) {    
        font-size: 16px;
    }
}