$background-darkmode: #121212;
$text-primary-darkmode: #E5E7EB;
$text-secondary-darkmode: #6B7280;
$text-tertiary-darkmode: #C9CDD4;

.darkmode {
    background-color: $background-darkmode;
    color: $text-primary-darkmode;
}

.darkmode-secondary {
    color: $text-secondary-darkmode;
}

@mixin type1 {
    font-size: 24px;

    @media screen and (max-width: 768px) {    
        font-size: 20px;
    }
}

@mixin type2 {
    font-size: 18px;

    @media screen and (max-width: 768px) {    
        font-size: 16px;
    }
}

@mixin type3 {
    font-size: 16px;

    @media screen and (max-width: 768px) {    
        font-size: 14px;
    }
}

@mixin type4 {
    font-size: 14px;

    @media screen and (max-width: 768px) {    
        font-size: 12px;
    }
}

@mixin type5 {
    font-size: 12px;

    @media screen and (max-width: 768px) {    
        font-size: 10px;
    }
}

.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;

    @media screen and (max-width: 768px) {
        width: calc(200px * 0.8)
    }
}

.socialmedia-icon {
    transition: all 0.2s ease-in !important;
    font-size: 1.25rem !important; 

    @media (max-width: 768px) {
        font-size: 1.125rem !important; 
    }

    i {
        color: $text-secondary-darkmode;
        transition: color 0.2s ease-in !important;
    }

    &:hover {
        transform: translateY(-4px);

        i {
            color: $text-primary-darkmode;
        }
    }
}

.university-logo {
    width: 75px;
    height: auto;
}

.header {
    @include type1;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #6B7280, #121212) 1;
    width: 50%;
}

.name {
    @include type1;
}

.titles {
    @include type2;
}

.institution, .employer {
    @include type3;
    font-weight: 500;
    color: $text-primary-darkmode;
}

.degree {
    @include type4;
    font-weight: 400;
    color: $text-secondary-darkmode;
}

.job-title {
    @include type3;
    font-weight: 400;
    color: $text-secondary-darkmode;
}

.job-duration {
    @include type4;
    color: $text-secondary-darkmode;
}

.job-description {
    li {
        @include type4;
        color: $text-tertiary-darkmode;
        text-align: justify;
        margin-left: 10px;

        @media screen and (max-width: 768px) {
            margin-bottom: 5px;
            margin-left: 0px;
        }
    }
}

.publications {
    @include type4;
    text-align: justify;
}

.technology-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    background-color: #1E1E1E;
    width: 150px;
    height: auto;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;

    transition: all 0.2s ease-in;

    img {
        width: 25px;
        height: auto;
    }
    
    span {
        color: $text-tertiary-darkmode;
        @include type5;
        font-weight: bolder;
        margin-left: 10px;
    }

    &:hover {
        transform: translateY(-2px) scale(1.05);

        img {
            transition: none !important;
        }

        span {
            transition: none !important;
        }
    }
}